.btn-brand{
    background-color: $secondary-color;
    color: $white;
    padding:0.5rem 1rem;
    &:hover{
        background-color: $secondary-color;
        color: $white;
        opacity: 0.8;
    }
}
.bg-brand{
    background-color: $brand-color;
}
*{
    font-family: 'Poppins', sans-serif;
}
.wrapper-right-align{
    width: 93%;
    margin-left: auto;
    margin-right: 0;
}
.wrapper-center{
    // width: 70%;
    margin: auto;
    padding: 3rem 0;
}
.btn-light-outline{
    border: 1px solid $white;
    color: $white;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: all ease 0.2s;
    background-color: transparent;
    &:hover{
        background-color: $white;
        color: $brand-color;
        transition: all ease 0.2s;
    }
}
@media (max-width:1399.98px){
    .wrapper-right-align{
        width:91%;
    }
}
@media (max-width:1199.98px){
    .wrapper-right-align{
        width:960px;
        margin-right: auto;
    }
}
@media (max-width:991.98px){
    .wrapper-right-align{
        width:720px;
        margin: auto;
    } 
}
@media (max-width:766.98px){
    .wrapper-right-align{
        width:540px;
        margin: auto;
    } 
}
@media (max-width:575.98px){
    .wrapper-right-align{
    width: 90%;
    }
    .wrapper-center{
        width: 90%;
        padding: 1rem 0;
    }
}