@mixin carousel02(){
        .carousel02{
            .resources{
                .arrow{
                    position: absolute;
                    bottom: 10px;
                    right: 20px;
                    z-index: 1;
                    &.next{
                        height: 76px;
                        width: 76px;
                        border: 1px solid $secondary-color;
                        border-radius: 50px;
                        background-color: transparent;
                        right: 2px;

                    }
                    &.prev{
                        background-color: transparent;
                        height: 76px;
                        width: 76px;
                        border: 1px solid $secondary-color;
                        border-radius: 50px;
                        
                        svg{
                            transform: rotate(180deg);
                        }
                    }
                }
                .resource-slider-item{
                    
                    border:1px solid $secondary-color;
                    border-radius: 10px;
                    background-color: $brand-color;
                    &:hover{
                        background-color: $white;
                        .title{
                            color: $brand-color;
                        }
                        .para{
                            color: $brand-color;
                        }
                        .carousel-btn{
                            color: $brand-color;
                        }
                    }
                .title{
                    color: $white;
                    font-size: 24px;
                    font-weight: 600;
                    line-height: 36px;
                }
                .para{
                    color: $white;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 24px;

                }
                .carousel-btn{
                    background-color:transparent;
                    color: $white;
                    padding:0.5rem 1rem;
                    border: none;
                    padding: 0;
                    svg{
                        margin-left: 10px;
                        width: 20px;
                        path{
                            fill: $brand-color;
                        }
                    }
                    &:hover{
                        background-color: transparent;
                        opacity: 0.8;
                    }
                }
            }
            }
















            #resource-slider {
                position: relative;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                width: 100%;
                height: 13em;
                margin: auto;
                border-radius: 3px;
                // background: #fff;
                // border: 1px solid #DDD;
                overflow: hidden;
              }
              
            //   #resource-slider .arrow {
            //     cursor: pointer;
            //     position: absolute;
            //     width: 2em;
            //     height: 100%;
            //     padding: 0;
            //     margin: 0;
            //     outline: 0;
            //     background: transparent;
            //   }
              
            //   #resource-slider .arrow:hover {
            //     background: rgba(0, 0, 0, 0.1);
            //   }
              
            //   #resource-slider .arrow:before {
            //     content: '';
            //     position: absolute;
            //     top: 0;
            //     left: 0;
            //     right: 0;
            //     bottom: 0;
            //     width: 0.75em;
            //     height: 0.75em;
            //     margin: auto;
            //     border-style: solid;
            //   }
              
            //   #resource-slider .prev {
            //     left: 0;
            //     bottom: 0;
            //   }
              
            //   #resource-slider .prev:before {
            //     left: 0.25em;
            //     border-width: 3px 0 0 3px;
            //     border-color: #333 transparent transparent #333;
            //     transform: rotate(-45deg);
            //   }
              
            //   #resource-slider .next {
            //     right: 0;
            //     bottom: 0;
            //   }
              
            //   #resource-slider .next:before {
            //     right: 0.25em;
            //     border-width: 3px 3px 0 0;
            //     border-color: #333 #333 transparent transparent;
            //     transform: rotate(45deg);
            //   }
              
              #resource-slider .resource-slider-frame {
                position: absolute;
                top: 0;
                left: 0em;
                right: 0em;
                bottom: 0;
                border-left: 0em solid transparent;
                border-right: 0em solid transparent;
                overflow: hidden;
              }
              
              #resource-slider .resource-slider-item {
                position: absolute;
                top: 0;
                bottom: 0;
                width: 25%;
                height: 100%;
              }
              
            //   #resource-slider .resource-slider-inset {
            //     position: absolute;
            //     top: 0;
            //     left: 0;
            //     right: 0;
            //     bottom: 0;
            //     margin: 0.5em 0.25em;
            //     overflow: hidden;
            //   }
              
              @media ( max-width: 60em ) {
                #resource-slider .resource-slider-item {
                  width: 33.33%;
                }
                #resource-slider {
                  height: 16em;
                }
              }
              
              @media ( max-width: 45em ) {
                #resource-slider .resource-slider-item {
                  width: 50%;
                }
              }
              
              @media ( max-width: 30em ) {
                #resource-slider .resource-slider-item {
                  width: 100%;
                }
                #resource-slider {
                  height: 19em;
                }
              }





















        }
}
@include carousel02();